<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtk_desktop_2015" version="2016.10.6.1" targetFramework="native" />
  <package id="directxtex_uwp" version="2023.4.28.1" targetFramework="native" />
  <package id="Microsoft.DXSDK.D3DX" version="9.29.952.8" targetFramework="native" />
</packages>